/*----------------------------------------------------------------------------- 
=CUSTOM STYLES  
-----------------------------------------------------------------------------*/
@import url();

.clear {
	clear: both;
}

.align-right {
	float: right;
}

.align-left {
	float: left;
}

p, a {
	text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;

}

body {
	font-family: sans-serif;
	color: ;
	line-height: 1.5;
}

h1 /* Landing title */{
	font-size: 90px;
	margin-bottom: 25px;
	margin-top: 0px;
}

h2  /* Strapline text */{
	font-size: 26px;
	color: white;
	line-height: 1.5;
}

h3  /* Section title text */{
	font-size: 50px;
	margin: 5px 0 30px 0;
	color: orange;
}

p  /* Regular content */{
	font-size: 18px;
	line-height: 1.7;
	margin: 20px 0px 20px 0px;
}

.divider {
	height: 1px;
	width: 40%;
	border-color: silver;
	margin-bottom: 50px;
}

#landing {
	background: url(../images/07.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 100px;
	width: 100%;
	margin: 0 auto 0 auto;
	color: orange;
	text-align: center;
}

#landingoverlay {
	background-color: rgba(0,0,0,0.5);
	width: 65%;
	padding: 15px;
	margin: 0 auto 0 auto;
}

.profilepic /* Landing page pic */{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 4px solid white;
	margin-bottom: 20px;
}

#strapline /* Landing page strapline */{
	padding-bottom: 5px;
	width: 60%;
	margin: 0 auto 0 auto;
}

#social /* Social media icons */{
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	padding-bottom: 50px;
	text-decoration: none;
}

#social img {
	height: 52px;
}

#bio {
	background: ;
	width: 100%;
	padding: 60px 90px 0px 90px;
	text-align: center;
}

#bio .col-xs-6 {
	padding: 15px;
}

#bio img {
   margin-top: 15%;
}

.biopic /* Pic in Bio section */{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 4px solid orange;
}

#portfolio {
	width: 100%;
	text-align: center;
	margin-bottom: 70px;
}

#portfolio h2 {
	padding-bottom: 150px;
}

#portfolio img {
	width: 75%;
	height: 600px;
	margin: 0 auto;
}

/* === Carousel fade effect === */
.carousel-fade .item {
	-webkit-transition: opacity 1.5s;
	 -moz-transition: opacity 1.5s;
	  -ms-transition: opacity 1.5s;
	   -o-transition: opacity 1.5s;
	    transition: opacity 1.5s;}

.carousel-fade .active.left {
	left:0;
	opacity:0;
	z-index:2;
}

.carousel-fade .next {
	left:0;
	opacity:1;
	z-index:1;
}

/* === Carousel arrows === */

.carousel-control {
  color: black;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control:hover,
.carousel-control:focus {
  color: black;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: none;
  opacity: .7;
}

/* Edits side panel behind arrows i.e. gradient panel */
.carousel-control.left {
	background-image: none;}
.carousel-control.right {
	background-image: none;
}
/* === End of carousel arrows === */

#skills {
	background: white;
	width: 100%;
	padding: 10px 30px 50px 30px;
	margin: 0 auto;
	text-align: center;
}

#contact {
	background: url(../images/contemporary_china.png);
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	padding: 50px 75px 0px 75px;
	text-align: center;
}

#contact p {
	font-size: 24px;
}

#contact #social {
	margin-top: 40px;
}

.contactpic /* Pic in Contact section */{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 4px solid white;
	margin: 5px;
}

footer {
	background: url(../images/footer_lodyas.png);
	width: 100%;
	padding: 10px;
	padding-left: 50px;
	color: silver;
}

/*----------------------------------------------------------------------------- 
=SKILLS PANELS  
-----------------------------------------------------------------------------*/

/* === GRID STRUCTURE === */

.skills-row {
	
}

.panel-hor {
	width: 465px;
	height: 300px;
	margin: 15px 20px 15px 20px;
	display: inline-block;
	position: relative;
}

.panel-ver {
	width: 300px;
	height: 465px;
	margin: 15px 20px 15px 20px;
	display: inline-block;
	position: relative;
}

.panel-container {
	position: absolute;
	top: 0;
}


/* === PANEL STYLING === */

#vpanel1 /* Vertical panel 1 base */{
	background: url(../images/creativewall.jpg);
	width: 300px;
	height: 465px;
	position: relative;
}

#vpanel2 /* Vertical panel 2 base */{
	background: url(../images/congruent_pentagon.png);
	width: 300px;
	height: 465px;
	position: relative;
}

#vpanel3 /* Vertical panel 3 base */{
	background: url(../images/daff-fall-2013-5.jpg);
	width: 300px;
	height: 465px;
	position: relative;
}

#hpanel1 /* Horizontal panel 1 base */{
	background: url(../images/food.png);
	width: 465px;
	height: 300px;
	position: relative;
}

#hpanel2 /* Horizontal panel 2 base */{
	background: url(../images/crowdedmall.jpg);
	width: 465px;
	height: 300px;
	position: relative;
}

#hpanel3 /* Horizontal panel 3 base */{
	background: url(../images/restaurant.png);
	width: 465px;
	height: 300px;
	position: relative;
}

/* Vertical panel content holder */
.panel-vertical-title {
	background-color: rgba(244,113,67,1);
	width: 170px;
	padding: 4px;
	margin: 0px 65px 0px 65px;
	position: absolute;
	top: 0;
}

.panel-vertical-text {
	background-color: rgba(0,0,0,0.5);
	width: 200px;
	margin: 80px auto;
	padding: 0px 10px 0px 10px;
	position: absolute;
	top: 60px;
	left: 50px;
}

.panel-vertical-content-style1 {
	background-color: rgba(244,113,67,0.8);
	width: 300px;
	height: 250px;
	padding: 25px 35px 0px 35px;
	position: absolute;
	bottom: 0;
}

.panel-vertical-content-style2 {
	background-color: rgba(244,113,67,0.5);
	width: 300px;
	height: 160px;
	padding: 15px 25px 10px 25px;
	position: absolute;
	top: 150px;
	
}

/* Horizontal panel content holder */
.panel-horizontal-content {
	background-color: rgba(244,113,67,0.35);
	width: 275px;
	padding: 4px;
	position: absolute;
	top: 10%;
	left: 95px;
}

.panel-horizontal-content-style1 {
	background-color: rgba(244,113,67,1);
	width: 465px;
	height: 160px;
	padding: 15px 30px 0px 30px;
	position: absolute;
	top: 0;
}

/* Panel content styling */
h5 /* Panel title */{
	font-size: 20px;
	color: white;
}

h6 /* Panel text */{
	font-size: 14px;
	line-height: 1.35;
	color: white;
}

/* ========= Panel 5 =========
#panel5 {
	background: url(../images/restaurant.png);
}

#panel5-a {
	background: grey;
	width: 175px;
	height: 70px;
	padding: 4px;
	margin: 0px 145px;
}

#panel5-b {
	background: grey;
	width: 250px;
	margin: 50px auto;
}
*/


